ul{
    list-style: none;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li{
        margin: 10px;
        padding: 20px;
        background-color: rgba(255, 192, 203, 0.5);

        a{
            text-decoration: none;
            font: {
                size: x-large;
                family: sans-serif;
                style: oblique;
                weight: bold;
            }
        }
    }
    
}
